QWidget#body{
  background-color: #d8d8d8;
  font-family: 'Roboto', sans-serif;
}

QPushButton#Send{
  width: 77.8px;
  background-color: #37B9A2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: width 2s;
  transition: width 2s;
}

QPushButton#Send:hover {
    background-color: #0AC251;
    /*width: 90px;*/
}

QLabel{
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-top-right-radius : 7px;
  border-top-left-radius : 4px;
  background-color: #333;
  width: 17%;
  color: white;
}

QLabel#log{
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-top-right-radius : 7px;
  border-top-left-radius : 4px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 17%;
  color: black;
}
QLabel#Tittle{
  background: none;
  border-radius: 0;
  border-top-right-radius: 5px;
  color: black;
  margin: 0;
  padding: 1px 2px;
  margin-left: 6px;
}

QLabel#response{
  height: 600px;
}

QLabel#camera {
  background: none;
  width: 640px;
  height: 480px;
}

QComboBox#security {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
